Repository TeamHappic/happic-iOS, pull requests merged in 2022-08, with the labels that each got.

#215 [Chore] Custom Month View 현재 달 수정 (#214)
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomMonthView.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomPopUpController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicDetailController.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/Controller/TabBarController.swift
Labels: 🔨 Refactor, 수빈✨, 💡Feature

#217 [Chore] 해픽 레포트 데이터 전달 로직 수정 (#216)
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
Labels: 세진✨, 📬 API, 🐞 BugFix, 📌 HappicReport

#219 [Fix] 사진 업로드 버그 수정 (#218)
  Happic-iOS/Happic-iOS/Global/Base/BaseUploadViewController.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/Controller/TabBarController.swift
Labels: 🐞 BugFix, 수빈✨, 📌 CreateContents

#221 [Chore] 하루해픽 게시글 작성 뷰 날짜 라벨 수정 (#220)
  Happic-iOS/Happic-iOS/Global/Base/BaseUploadViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/Controller/TabBarController.swift
Labels: 🔨 Refactor, 수빈✨, 📌 CreateContents
