Repository TeamHappic/happic-iOS, pull requests merged in 2022-07, with the labels that each got.

#2 [Add] 프로젝트 초기 세팅 (#1)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Happic-iOS/Happic-iOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Happic-iOS/Happic-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Happic-iOS/Happic-iOS/AppDelegate.swift
  Happic-iOS/Happic-iOS/Assets.xcassets/AccentColor.colorset/Contents.json
  Happic-iOS/Happic-iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  Happic-iOS/Happic-iOS/Assets.xcassets/Contents.json
  Happic-iOS/Happic-iOS/Base.lproj/LaunchScreen.storyboard
  Happic-iOS/Happic-iOS/Base.lproj/Main.storyboard
  Happic-iOS/Happic-iOS/Info.plist
  Happic-iOS/Happic-iOS/SceneDelegate.swift
  Happic-iOS/Happic-iOS/ViewController.swift
Labels: 세진, ⚙️ Setting

#6 [Add] SwiftLint 적용
  Happic-iOS/.swiftlint.yml
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/ViewController.swift
Labels: 세진✨, ⚙️ Setting

#7 [Add] 폴더링
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Extension/temp.swift
  Happic-iOS/Happic-iOS/Global/Literal/temp.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AccentColor.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Happic-iOS/Happic-iOS/Global/Supports/AppDelegate.swift
  Happic-iOS/Happic-iOS/Global/Supports/SceneDelegate.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/temp.swift
  Happic-iOS/Happic-iOS/Network/APIService/temp.swift
  Happic-iOS/Happic-iOS/Network/Foundation/temp.swift
  Happic-iOS/Happic-iOS/Network/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/Auth/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/Home/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/Home/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/Setting/Controller/temp.swift
  Happic-iOS/Happic-iOS/Screens/Setting/Model/temp.swift
  Happic-iOS/Happic-iOS/Screens/Setting/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/View/temp.swift
Labels: 세진✨, ⚙️ Setting

#9 [Add] Tabman 라이브러리 추가 (#8)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: 세진✨, ⚙️ Setting

#11 [Add] 기초 Extension들 추가 (#10)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Extension/Adjusted+.swift
  Happic-iOS/Happic-iOS/Global/Extension/NSObject+.swift
  Happic-iOS/Happic-iOS/Global/Extension/String+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UITextField+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UIView+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UIViewController+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UserDefaults+.swift
Labels: 세진✨, ⚙️ Setting

#13 [Fix] 동일명 파일들 이름 변경 (#12)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Literal/tempLiteral.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/tempUIComponent.swift
  Happic-iOS/Happic-iOS/Network/APIService/tempAPIService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/tempFoundation.swift
  Happic-iOS/Happic-iOS/Network/Model/tempModel.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/tempAuthController.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Model/tempAuthModel.swift
  Happic-iOS/Happic-iOS/Screens/Auth/View/tempAuthView.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/tempCreateCharacterController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Model/tempCreateCharacterModel.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/tempCreateCharacterView.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/tempCreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Model/tempCreateContentsModel.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/View/tempCreateContentsView.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/tempHappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Model/tempHappicCapsuleModel.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/View/tempHappicCapsuleView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/tempHappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Model/tempHappicReportModel.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/tempHappicReportModelView.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/tempHaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Model/tempHaruHappicModel.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/tempHaruHappicView.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/tempHomeController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Model/tempHomeModel.swift
  Happic-iOS/Happic-iOS/Screens/Home/View/tempHomeView.swift
  Happic-iOS/Happic-iOS/Screens/Setting/Controller/tempSettingController.swift
  Happic-iOS/Happic-iOS/Screens/Setting/Model/tempSettingModel.swift
  Happic-iOS/Happic-iOS/Screens/Setting/View/tempSettingView.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/View/temp.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/View/tempTabbarView.swift
Labels: 세진✨, ⚙️ Setting, 🐞 BugFix

#15 [Chore] SwiftLint 룰 수정 (#14)
  Happic-iOS/.swiftlint.yml
  Happic-iOS/Happic-iOS/Global/Extension/Adjusted+.swift
Labels: 세진✨, ⚙️ Setting

#17 [Feat] 프로젝트 환경 설정 (#11)
  Happic-iOS/Happic-iOS/Global/Supports/AppDelegate.swift
  Happic-iOS/Happic-iOS/Info.plist
Labels: ⚙️ Setting, 수빈✨

#20 [Add] 네임스페이스 작업 (#18)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Literal/UIColorLiteral.swift
  Happic-iOS/Happic-iOS/Global/Literal/tempLiteral.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/120-1.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/152.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/167.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/20.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/40-1.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/40-2.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/58-1.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/76.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/80-1.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/AppIcon.appiconset/appstore.png
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_bgblack1.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_bgblack2h.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_darkblue.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_darkpurple.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray1.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray2.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray3.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray4.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray5.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray6.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray7.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray8.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_gray9.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_orange.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_white.colorset/Contents.json
Labels: 🖍 Design, 수빈✨

#23 [Feat] TarBar 세팅 (#21)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Base.lproj/Main.storyboard
  Happic-iOS/Happic-iOS/Global/Supports/SceneDelegate.swift
  Happic-iOS/Happic-iOS/Info.plist
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/tempCreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/tempHappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/tempHaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/tempHomeController.swift
  Happic-iOS/Happic-iOS/Screens/Setting/Controller/SettingController.swift
  Happic-iOS/Happic-iOS/Screens/Setting/Controller/tempSettingController.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/Controller/TabBarController.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/View/tempTabbarView.swift
  Happic-iOS/Happic-iOS/ViewController.swift
Labels: 세진✨, 📌 TabBar

#24 [Feat] 런치스크린 추가 (#22)
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/bg_splash.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/bg_splash.imageset/bg_splash.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/bg_splash.imageset/bg_splash@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/bg_splash.imageset/bg_splash@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_splash.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_splash.imageset/icn_splash.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_splash.imageset/icn_splash@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_splash.imageset/icn_splash@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Base.lproj/LaunchScreen.storyboard
Labels: 🖍 Design, 수빈✨

#28 [Feat] 베스트 해픽 모먼트 뷰 UI 구현 (#25)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/tempHappicReportModelView.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#32 [Add] 폰트에셋추가 (#30)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Literal/UIFontLiteral.swift
  Happic-iOS/Happic-iOS/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Happic-iOS/Happic-iOS/Global/Resource/Fonts/GmarketSansBold.otf
  Happic-iOS/Happic-iOS/Global/Resource/Fonts/Pretendard-Bold.otf
  Happic-iOS/Happic-iOS/Global/Resource/Fonts/Pretendard-ExtraBold.otf
  Happic-iOS/Happic-iOS/Global/Resource/Fonts/Pretendard-Medium.otf
  Happic-iOS/Happic-iOS/Global/Resource/Fonts/Pretendard-Regular.otf
  Happic-iOS/Happic-iOS/Info.plist
Labels: ⚙️ Setting, 수빈✨

#34 [Chore] 프로젝트 팀 세팅 (#33)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
Labels: 세진✨, ⚙️ Setting

#36 [Feat] KeywordRankView UI 구현 (#35)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/KeywordRankCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/SectionHeader/HappicReportSectionHeader.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#39 [Chore] Literal 변경 및 추가 (#38)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Literal/ColorLiteral.swift
  Happic-iOS/Happic-iOS/Global/Literal/FontLiteral.swift
  Happic-iOS/Happic-iOS/Global/Literal/ImageLiteral.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/KeywordRankCollectionViewCell.swift
Labels: ⚙️ Setting, 🖍 Design, 수빈✨

#40 [Feat] 카테고리 별 키워드 순위뷰 UI (#37)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/CategoryDetailController/CategoryDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CategoryRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/KeywordRankCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/SectionHeader/HappicReportSectionHeader.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#42 [Fix] Color Literal 호출명 변경 (#41)
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
Labels: 세진✨, 🐞 BugFix

#46 [Feat] CalendarHelper 추가 (#43)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Util/CalendarHelper.swift
Labels: 세진✨, 💡Feature

#44 [Feat] 하루 해픽 뷰 UI 구현 (#26)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Literal/ImageLiteral.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_addphoto.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_addphoto.imageset/icn_addphoto.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_addphoto.imageset/icn_addphoto@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_addphoto.imageset/icn_addphoto@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_arrow_more.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_arrow_more.imageset/icn_arrow_more.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_arrow_more.imageset/icn_arrow_more@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_arrow_more.imageset/icn_arrow_more@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample1.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample1.imageset/image_daily_sample1.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample1.imageset/image_daily_sample1@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample1.imageset/image_daily_sample1@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample2.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample2.imageset/image_daily_sample2.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample2.imageset/image_daily_sample2@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample2.imageset/image_daily_sample2@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample3.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample3.imageset/image_daily_sample3.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample3.imageset/image_daily_sample3@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample3.imageset/image_daily_sample3@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample4.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample4.imageset/image_daily_sample4.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample4.imageset/image_daily_sample4@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample4.imageset/image_daily_sample4@3x.png
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomViewPager.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/PhotoCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/TagCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicPhotoController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagViewController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/tempHaruHappicView.swift
Labels: 🖍 Design, 수빈✨, 📌 HaruHappic

#52 [Feat] 월 별 기록 뷰 UI 구현 (#47)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/MonthHappicRecordView.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#54 [Feat] 전체보기 뷰 기초 UI (#53)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/CategoryDetailController/CategoryDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/OverallStatsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/CategoryRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/KeywordRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/MonthHappicRecordController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CategoryRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CustomTabPagerButton/CustomTabPagerButton.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/MonthHappicRecordView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/SectionHeader/HappicReportSectionHeader.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#56 [Feat] 기초 캘린더 구현 (#55)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/MonthHappicRecordController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CalendarCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CustomCalendarView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/SectionHeader/HappicReportSectionHeader.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#58 [Chore] 프로젝트 팀원 추가 (#57)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
Labels: 세진✨, ⚙️ Setting

#61 [Chore] 해픽 레포트뷰 UI 수정 (#60)
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CalendarCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CustomCalendarView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/SectionHeader/HappicReportSectionHeader.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#68 [Feat] 설정 뷰 UI 구현 (#67)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Extension/UILabel+.swift
  Happic-iOS/Happic-iOS/Global/Literal/ImageLiteral.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_alarm.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_alarm.imageset/icn_alarm.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_alarm.imageset/icn_alarm@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_alarm.imageset/icn_alarm@3x.png
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomPopUpController.swift
  Happic-iOS/Happic-iOS/Screens/Setting/Controller/SettingController.swift
  Happic-iOS/Happic-iOS/Screens/Setting/View/Cell/SettingCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/Setting/View/SectionHeader/SettingSectionHeaderCollectionReusableView.swift
  Happic-iOS/Happic-iOS/Screens/Setting/View/tempSettingView.swift
Labels: 세진✨, 🖍 Design, 📌 Setting

#70 [Feat] 해픽캡슐뷰 UI 구현 (#69)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Literal/ImageLiteral.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_cancel.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_cancel.imageset/icn_cancel.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_cancel.imageset/icn_cancel@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_cancel.imageset/icn_cancel@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_capsule.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_capsule.imageset/image_capsule.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_capsule.imageset/image_capsule@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_capsule.imageset/image_capsule@3x.png
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/HappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/tempHappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/View/HappicCapsuleView.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/View/tempHappicCapsuleView.swift
Labels: 세진✨, 🖍 Design, 📌 HappicCapusule

#73 [Add] 캐릭터 생성 뷰 와프용 에셋 추가 (#72)
  Happic-iOS/Happic-iOS/Global/Literal/ImageLiteral.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/icn_chat.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/icn_chat@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/icn_chat@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_cloud.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_cloud.imageset/image_cloud.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_cloud.imageset/image_cloud@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_cloud.imageset/image_cloud@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_moon.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_moon.imageset/image_moon.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_moon.imageset/image_moon@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_moon.imageset/image_moon@3x.png
Labels: 🖍 Design, 수빈✨, 📌 CreateCharacter

#79 [Feat] 게시글 작성 사진 접근 로직변경 (#77)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Base/BaseUploadViewController.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/ShowToast.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagController.swift
Labels: 수빈✨, 📌 CreateContents, 💡Feature

#81 [Feat] Custom Month Picker View 선택 월 색상 변경 (#80)
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomMonthPickerView.swift
Labels: 🖍 Design, 수빈✨, 📌 HaruHappic

#75 [Feat] 회원가입 뷰 UI 구현 (#27)
  Happic-iOS/Happic-iOS/Global/Util/Protocols/StoryboardLiterals.swift
  Happic-iOS/Happic-iOS/Global/Util/Protocols/Storyboarded.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/Auth/View/AuthView.storyboard
Labels: 🖍 Design, 승현✨, 📌 Auth

#82 Chore/#78 해픽 레포트뷰 UI 수정
  Happic-iOS/Happic-iOS/Global/Literal/ImageLiteral.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_blank_photo.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_blank_photo.imageset/image_blank_photo.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_blank_photo.imageset/image_blank_photo@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_blank_photo.imageset/image_blank_photo@3x.png
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomViewPager.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/CategoryDetailController/CategoryDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/CategoryRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CategoryRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/KeywordRankCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/MonthHappicRecordView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/SectionHeader/HappicReportSectionHeader.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#86 [Fix] 프로젝트 파일 등록 이슈 해결 (#84)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/tempAuthController.swift
  Happic-iOS/Happic-iOS/Screens/Auth/View/tempAuthView.swift
Labels: 세진✨, 🐞 BugFix, 수빈✨, 📌 Auth

#89 Chore/#87 해픽 레포트 상세 보기 뷰 UI 수정
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/OverallStatsController.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport

#90 [Refactor] Auth 뷰 관련 수정사항 반영 및 컬러 에셋 변경
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Literal/ColorLiterals.swift
  Happic-iOS/Happic-iOS/Global/Literal/FontLiterals.swift
  Happic-iOS/Happic-iOS/Global/Literal/ImageLiterals.swift
  Happic-iOS/Happic-iOS/Global/Literal/StoryboardLiterals.swift
  Happic-iOS/Happic-iOS/Global/Protocols/Storyboarded.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/icn_chat.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/icn_chat@2x.png
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/icn_chat.imageset/icn_chat@3x.png
  Happic-iOS/Happic-iOS/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_bgblack0.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Colors.xcassets/hp_bgblack2.colorset/Contents.json
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomMonthPickerView.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomMonthView.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomPopUpController.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomRecommendTagView.swift
  Happic-iOS/Happic-iOS/Global/Util/Protocols/StoryboardLiterals.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/Auth/View/AuthView.storyboard
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/HappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CalendarCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CustomCalendarView.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/PhotoCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/Setting/View/Cell/SettingCollectionViewCell.swift
Labels: 🖍 Design, 수빈✨, 📌 Auth

#91 [Fix] ImageLiterals 스펠링 변경사항 적용
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/OverallStatsController.swift
Labels: 세진✨, 🐞 BugFix

#94 [Feat] 그라데이션 코드 적용 및 기타 구현 (#83)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Extension/CALayer+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UIView+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UIViewController+.swift
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/bg_splash.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_alert.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_cancel.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_dh_off.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_dh_on.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_down.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_down_mini.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_home_off.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_home_on.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_hr_off.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_hr_on.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_info.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_kakao.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_left.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_plus.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_right.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_set_off.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_set_on.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_trash.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_up.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_ic_up_mini.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_image_splash.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_c1.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_c2.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_c3.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_c4.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_empty.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_m1.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_m2.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_m3.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/hp_img_m4.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_blank_photo.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_capsule.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample1.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample2.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample3.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Assets.xcassets/image_daily_sample4.imageset/Contents.json
  Happic-iOS/Happic-iOS/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomMonthView.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomPopUpController.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomViewPager.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/CategoryDetailController/CategoryDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/OverallStatsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/CategoryRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/KeywordRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/MonthHappicRecordController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CategoryRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/MonthHappicRecordView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/SectionHeader/HappicReportSectionHeader.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
Labels: 세진✨, ⚙️ Setting, 🖍 Design

#96 [Add] 네트워크 기초 세팅 파일 추가
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/tempAPIService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
  Happic-iOS/Happic-iOS/Network/Foundation/BaseResponse.swift
  Happic-iOS/Happic-iOS/Network/Foundation/NetworkHelper.swift
  Happic-iOS/Happic-iOS/Network/Foundation/NetworkResult.swift
  Happic-iOS/Happic-iOS/Network/Foundation/tempFoundation.swift
Labels: 세진✨, ⚙️ Setting, 📬 API

#103 [Feat] 해픽 레포트 키워드 부족 뷰 구현 (#101)
  Happic-iOS/Happic-iOS/Global/Extension/UIView+.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/CategoryDetailController/CategoryDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CategoryRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 🖍 Design, 📌 Home, 📌 HappicReport

#105 [Feat] 캘린더 로직 수정 (#104)
  Happic-iOS/Happic-iOS/Global/Util/CalendarHelper.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/OverallStatsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/MonthHappicRecordController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CustomCalendarView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/MonthHappicRecordView.swift
Labels: 세진✨, 🖍 Design, 📌 HappicReport, 💡Feature

#106 [Feat] 하루해픽 상세보기 뷰 구현 (#99)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/PhotoDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/TagCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicPhotoController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagController.swift
Labels: 🖍 Design, 수빈✨, 📌 HaruHappic, 💡Feature

#108 [Chore] 하루해픽 게시글 레이아웃 수정 (#102)
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomRecommendTagView.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
Labels: 🖍 Design, 수빈✨, 📌 CreateContents, 💡Feature

#110 [Add] 카카오 로그인 세팅 (#102)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Happic-iOS/Happic-iOS/Global/Supports/AppDelegate.swift
  Happic-iOS/Happic-iOS/Global/Supports/SceneDelegate.swift
  Happic-iOS/Happic-iOS/Info.plist
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 수빈✨, 📌 Auth

#112 [Chore] 홈 화면 버튼 클릭으로 업로드 화면으로 진입 가능하도록 수정
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 📌 Home, 💡Feature

#125 [Feat] FCM 세팅 (#123)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Happic-iOS/Happic-iOS/Global/Supports/AppDelegate.swift
  Happic-iOS/Happic-iOS/GoogleService-Info.plist
  Happic-iOS/Happic-iOS/Happic-iOS.entitlements
  Happic-iOS/Happic-iOS/Happic-iOSRelease.entitlements
  Happic-iOS/Happic-iOS/Info.plist
Labels: 세진✨, 📬 API, 💡Feature

#127 [Chore] 하루해픽 상세보기 헤더뷰 수정 (#124)
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomPopUpController.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/PhotoCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/TagCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicPhotoController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 🖍 Design, 수빈✨, 📌 HaruHappic

#129 [Feat] 푸시 알림 토큰 등록 API 통신 코드 구현
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/PushUserRegisterService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
Labels: 세진✨, 📬 API

#131 [Feat] 해픽레포트 조회 api 연결 (#130)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/HappicReportService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
  Happic-iOS/Happic-iOS/Network/Model/HappicReportModel/HappicReportSummaryModel.swift
Labels: 세진✨, 📬 API, 📌 HappicReport

#134 [Feat] 카카오 소셜로그인 API 연결 및 기초 세팅 (#113)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/AuthService/KakaoLoginService.swift
  Happic-iOS/Happic-iOS/Network/APIService/tempAPIService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
  Happic-iOS/Happic-iOS/Network/Model/tempModel.swift
Labels: 📬 API, 수빈✨, 📌 Auth

#136 [Feat] 카테고리별 순위 조회 API 연결 구현 (#135)
  Happic-iOS/Happic-iOS/Network/APIService/HappicReportService/HappicReportService.swift
Labels: 세진✨, 📬 API, 📌 HappicReport

#139 [Feat] 하루해픽 사진 뷰 전체조회 API 연결 (#115)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/HaruHappicService/HaruHappicService.swift
  Happic-iOS/Happic-iOS/Network/Model/HaruHappicModel/HaruHappicPhotoModel.swift
Labels: 📬 API, 수빈✨, 📌 HaruHappic

#140 [Feat] 하루해픽 태그 뷰 전체조회 API 연결 (#116)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/AuthService/KakaoLoginService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HaruHappicService/HaruHappicService.swift
  Happic-iOS/Happic-iOS/Network/Model/HaruHappicModel/HaruHappicTagModel.swift
Labels: 📬 API, 수빈✨, 📌 HaruHappic

#142 [Feat] 하루해픽 상세보기 뷰 API 연결 (#117)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/HaruHappicService/HaruHappicService.swift
  Happic-iOS/Happic-iOS/Network/Model/HappicReportModel/MonthlyCountModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HaruHappicModel/HaruHappicDetailModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HaruHappicModel/HaruHappicPhotoModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HaruHappicModel/HaruHappicTagModel.swift
Labels: 📬 API, 수빈✨, 📌 HaruHappic

#143 [Feat] 하루해픽 게시글 작성 여부 확인 API 연결 (#118)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Network/Model/CreateContentsModel/PostingCheckModel.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#144 [Feat] 하루해픽 게시글 작성 시 최다 태그 추천 API 연결 (#120)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HaruHappicService/HaruHappicService.swift
  Happic-iOS/Happic-iOS/Network/Model/CreateContentsModel/PostingStatusModel.swift
  Happic-iOS/Happic-iOS/Network/Model/CreateContentsModel/RecommendTagModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HaruHappicModel/HaruHappicDetailModel.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#147 [Feat] 하루해픽 게시글 생성 API 연결 (#119)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Network/Model/CreateContentsModel/CreateContentsModel.swift
  Happic-iOS/Happic-iOS/Network/Model/CreateContentsModel/PostStatusModel.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#148 [Feat] 하루해픽 게시글 삭제 API 연결 (#121)
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HaruHappicService/HaruHappicService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
Labels: 📬 API, 수빈✨, 📌 HaruHappic, 📌 CreateContents

#150 [Chore] SwiftLint 반영
  Happic-iOS/Happic-iOS/Network/Model/CreateContentsModel/CreateContentsModel.swift
Labels: 수빈✨

#152 [Feat] FCM 토큰 서버로 전달하도록 구현
  Happic-iOS/Happic-iOS/Global/Extension/UserDefaults+.swift
  Happic-iOS/Happic-iOS/Global/Supports/AppDelegate.swift
  Happic-iOS/Happic-iOS/Network/APIService/PushAlarmService/PushUserRegisterService.swift
Labels: 세진✨, 📬 API, 💡Feature

#156 [Feat] 사진 업로드 API 연결 (#114)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Network/Model/CreateContentsModel/UploadImageModel.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#160 [Feat] 해픽레포트 API 데이터 뷰에 적용 (#153)
  Happic-iOS/Happic-iOS/Global/Extension/String+.swift
  Happic-iOS/Happic-iOS/Network/APIService/HappicReportService/HappicReportService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/NetworkHelper.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/CategoryDetailController/CategoryDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/CategoryRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/KeywordRankCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/MonthHappicRecordView.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 📬 API, 📌 HappicReport

#162 [Feat] 토스트 위치 수정 가능하도록 구현 (#161)
  Happic-iOS/Happic-iOS/Global/UIComponent/ShowToast.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
Labels: 세진✨, 💡Feature

#166 [Feat] 사진 업로드 API 뷰 연결 (#155)
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#168 [Feat] 게시글 작성여부 조회 API 뷰 연결 (#167)
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/NetworkHelper.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/Controller/TabBarController.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#170 Refactor/#165 레이아웃 수정
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterIntroduceView.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CreateCharacterViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CharacterIntroduceView.xib
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CreateCharacterView.storyboard
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 🖍 Design, 🔨 Refactor, 승현✨, 📌 CreateCharacter, 💡Feature

#173 [Feat] 게시글 작성 시 최다 태그 추천 API와 뷰 연결 및 레이아웃 수정 (#169)
  Happic-iOS/Happic-iOS/Global/Extension/String+.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomRecommendTagView.swift
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
  Happic-iOS/Happic-iOS/Screens/Tabbar/Controller/TabBarController.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#176 [Feat] 뷰 연결 및 레아이웃 수정 (#174)
  Happic-iOS/Happic-iOS/Global/Extension/UIView+.swift
  Happic-iOS/Happic-iOS/Global/Util/Protocols/StoryboardLiterals.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/Auth/View/AuthView.storyboard
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterInroduceView.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterIntroduceView.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CreateCharacterViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CharacterIntroduceView.xib
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CharacterNameView.storyboard
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CreateCharacterView.storyboard
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 🖍 Design, 수빈✨, 📌 CreateCharacter

#177 [Feat] 하루해픽 생성 API와 뷰 연결 (#175)
  Happic-iOS/Happic-iOS/Global/Base/BaseUploadViewController.swift
  Happic-iOS/Happic-iOS/Global/Extension/UserDefaults+.swift
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/PhotoCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicPhotoController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 📬 API, 수빈✨, 📌 CreateContents

#181 [Feat] 타임 포멧팅 함수 제거 (#179)
  Happic-iOS/Happic-iOS/Global/Extension/String+.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
Labels: 세진✨, 📬 API, 📌 HappicReport

#186 [Chore] 시간 타입 및 기타 수정 (#185)
  Happic-iOS/Happic-iOS/Global/Extension/String+.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomRecommendTagView.swift
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CharacterNameView.storyboard
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/CategoryDetailWithImageCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/Cell/KeywordRankCollectionViewCell.swift
Labels: 세진✨, 🖍 Design, 수빈✨

#187 [Feat] 해픽레포트 분기처리 (#179)
  Happic-iOS/Happic-iOS/Global/Extension/String+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UIView+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UIViewController+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UserDefaults+.swift
  Happic-iOS/Happic-iOS/Network/APIService/HappicReportService/HappicReportService.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/CategoryDetailController/CategoryDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/OverallStatsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/CategoryRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/KeywordRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/MonthHappicRecordController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/BestHappicMomentView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/KeywordRankView.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/View/MonthHappicRecordView.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 📬 API, 🖍 Design, 📌 HappicReport

#188 [Chore] 글자수제한버그수정 (#183)
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomRecommendTagView.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/ShowToast.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
Labels: 수빈✨, 💡Feature

#190 Feat/#171 서버 연결
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/AuthService/SignUpService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HomeService/HomeService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
  Happic-iOS/Happic-iOS/Network/Model/AuthModel/SignUpModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HomeModel/HappicCapsuleModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HomeModel/HomeModel.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/HappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/View/HappicCapsuleView.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 📬 API, 승현✨

#192 [Feat] API 연결 (#191)
  Happic-iOS/Happic-iOS/Global/Extension/String+.swift
  Happic-iOS/Happic-iOS/Global/Extension/UserDefaults+.swift
  Happic-iOS/Happic-iOS/Network/APIService/AuthService/SignUpService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HomeService/HomeService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
  Happic-iOS/Happic-iOS/Network/Model/AuthModel/SignUpModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HomeModel/HappicCapsuleModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HomeModel/HomeModel.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/HappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 📬 API, 승현✨

#195 [Fix] 네트워크 오류 수정 (#194)
  Happic-iOS/Happic-iOS/Network/APIService/HappicReportService/HappicReportService.swift
Labels: 세진✨, 📬 API, 📌 HappicReport

#196 [Feat] 월 선택 뷰 동기화 및 터치영역 수정 (#184)
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CreateCharacterViewController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/TagCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicPhotoController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagController.swift
Labels: 📬 API, 수빈✨, 📌 HaruHappic

#197 [Chore] 임시 토큰 변경
  Happic-iOS/Happic-iOS/Global/Extension/UserDefaults+.swift
Labels: ⚙️ Setting, 📬 API, 수빈✨

#200 [Fix] 하루해픽 뷰 버그 수정 (#199)
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/PhotoCollectionViewCell.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/Cells/TagCollectionViewCell.swift
Labels: 🐞 BugFix, 수빈✨, 📌 HaruHappic

#202 [Feat] 회원가입 및 카카오 로그인 API 연결(#201)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Network/APIService/AuthService/KakaoLoginService.swift
  Happic-iOS/Happic-iOS/Network/APIService/AuthService/SignUpService.swift
  Happic-iOS/Happic-iOS/Network/Foundation/APIConstants.swift
  Happic-iOS/Happic-iOS/Network/Model/AuthModel/KakaoLoginModel.swift
  Happic-iOS/Happic-iOS/Network/Model/AuthModel/SignUpModel.swift
  Happic-iOS/Happic-iOS/Network/Model/HomeModel/HappicCapsuleModel.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CreateCharacterViewController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
Labels: 📬 API, 수빈✨, 📌 Auth

#205 [Feat] 소셜 로그인 토큰 UserDefault에 저장 및 기타 수정 (#203)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Supports/AppDelegate.swift
  Happic-iOS/Happic-iOS/Global/UIComponent/CustomPopUpController.swift
  Happic-iOS/Happic-iOS/Global/Util/UserDefaultWrapper.swift
  Happic-iOS/Happic-iOS/Global/Util/UserManager.swift
  Happic-iOS/Happic-iOS/Network/APIService/AuthService/SignUpService.swift
  Happic-iOS/Happic-iOS/Network/APIService/CreateContentsService/CreateContentsService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HappicReportService/HappicReportService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HaruHappicService/HaruHappicService.swift
  Happic-iOS/Happic-iOS/Network/APIService/HomeService/HomeService.swift
  Happic-iOS/Happic-iOS/Network/APIService/PushAlarmService/PushUserRegisterService.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CreateCharacterViewController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicDetailController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 📬 API, 🔨 Refactor, 수빈✨, 📌 Auth, 💡Feature

#206 [Refactor] 캐릭터 선택 관련 뷰 리팩토링 (#204)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Extension/UIView+.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/Auth/View/AuthView.storyboard
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterIntroduceView.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CreateCharacterViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CharacterIntroduceView.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CharacterIntroduceView.xib
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CharacterNameView.storyboard
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/View/CreateCharacterView.storyboard
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicDetailController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicPhotoController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagController.swift
Labels: 🔨 Refactor, 수빈✨, 📌 CreateCharacter

#208 [Feat] 로딩 인디케이터 추가 (#207)
  Happic-iOS/Happic-iOS.xcodeproj/project.pbxproj
  Happic-iOS/Happic-iOS/Global/Util/LoadingIndicator.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/HappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/CategoryRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/KeywordRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/MonthHappicRecordController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 📬 API, 수빈✨, 💡Feature

#211 [Feat] 네트워크 오류시 띄우는 얼럿 뷰 추가 및 홈 컨트롤러 levelProgressView 이슈 (#210)
  Happic-iOS/Happic-iOS/Global/Extension/UIViewController+.swift
  Happic-iOS/Happic-iOS/Global/Util/LoadingIndicator.swift
  Happic-iOS/Happic-iOS/Screens/Auth/Controller/AuthViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateCharacter/Controller/CharacterNameViewController.swift
  Happic-iOS/Happic-iOS/Screens/CreateContents/Controller/CreateContentsController.swift
  Happic-iOS/Happic-iOS/Screens/HappicCapsule/Controller/HappicCapsuleController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/HappicReportController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/CategoryRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/KeywordRankController.swift
  Happic-iOS/Happic-iOS/Screens/HappicReport/Controller/OverallStats/StatsController/MonthHappicRecordController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/Home/Controller/HomeController.swift
Labels: 세진✨, 📬 API, 🔨 Refactor, 수빈✨

#212 [Fix] 하루해픽 empty 태그 뷰가 첫 로딩 시 보이지 않는 이슈 (#209)
  Happic-iOS/Happic-iOS/Screens/HaruHappic/Controller/HaruHappicController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicPhotoController.swift
  Happic-iOS/Happic-iOS/Screens/HaruHappic/View/HaruHappicTagController.swift
Labels: 세진✨, 🐞 BugFix, 수빈✨, 📌 HaruHappic
